{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
<a href="{% url 'maestros_alta' %}"><img src="{%static 'images/icons8-plus-32.png' %}"></a>
{% endblock %}

{% block contenido %}
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-dark-grey">
        <th>Acciones</th>
        <th>Nombre</th>
        <th>Escuela</th>
        <th>Sexo</th>
        <th>Fecha de Nacimiento</th>
      </tr>
    </thead>
    {% for maestro in maestros %}
    <tr>
      <td>
        <a href="{% url 'maestros_eliminar' maestro.id %}"><img src="{%static 'images/icons8-trash-can-32.png' %}"></a>
        <a href="{% url 'maestros_editar' maestro.id %}"><img src="{%static 'images/icons8-edit-pencil-32.png' %}"></a>
      </td>
      <td>{{ maestro.nombre }}</td>
      <td>{{ maestro.escuela.siglas }}</td>
      <td>{{ maestro.sexo }}</td>
      <td>{{ maestro.fecha_nacimiento }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}